// color
$body_colors: #fafafa;
$white: #fff;
$white_dark: #e6e6e6;
$black: #000;
$black_light: #1a1a1a;
$gray: #333;
$gray_light: #b3b3b3;
$blue: #3376c7;
$orang: #ffb84d;

// fonts Golos
$golos_fonts: "Golos Text", sans-serif;
